.upContainer {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.poster {
  width: 15rem;
  height: 16rem;
  object-fit: cover;
  border-radius: 5em;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.remark {
  margin: 0 auto;
  text-align: center;
}
.rateClicked {
  color: lime !important;
}

.rateStars {
  margin-bottom: 1rem;
}
.rateStars svg {
  font-size: 1.8rem;
  margin: 0 0.3rem;
  color: #cacaca;
  cursor: pointer;
}

.read-btn {
  color: #5584f2 !important;
  border: 1px solid #5584f2;
  border-radius: 0.7em;
  padding: 0.5em;
  cursor: pointer;
  font-size: .9em;
  
}
.midContainer {
  width: 45%;
  margin-right: 2rem;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightContainer > h3 {
  margin-bottom: 1rem;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  filter: drop-shadow(0 1px 1px gray);
  padding: 1em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 4px solid red;
  margin-bottom: 1rem;
}

#circle {
  margin: 2em 3.5em;
  border: 4px solid rgb(202, 202, 202);
  border-radius: 35%;
}

#circle p {
  color: rgb(202, 202, 202);
}

.circle p {
  color: red;
  margin-bottom: 0;
}
.circle p:first-child {
  font-size: 2em;
}
.circle p:last-child {
  font-size: 0.7em;
}

.general-score {
  color: #d81e05;
  font-size: 2em;
}

.score-bars-widget {
  background-color: #fff;
  border: solid 1px #d9d9d9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 200px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.score-bars-wrapper:before,
.score-bars-wrapper:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 15px transparent;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: -28px;
}

.score-bars-wrapper:before {
  border-bottom-color: #fff;
  z-index: 2;
}
.score-bars-wrapper:after {
  border-bottom-color: #d9d9d9;
  margin-top: -2px;
  z-index: 1;
}

.score-bar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.score-bar-list li {
  height: 20px;
  width: 100%;
  line-height: 20px;
  margin-top: 7px;
}

.score-category-avatar {
  float: left;
  text-align: left;
  width: 20%;
  padding-right: 10px;
  box-sizing: border-box;
}

.score-category-avatar .cor-icon {
  display: block;
  width: 20px;
  height: 20px;
  /* height-space:nowrap; */
  font-weight: bold;
}

.score-bar {
  float: left;
  height: 20px;
  width: 60%;
  background: #eee;
  position: relative;
  overflow: hidden;
}

.score-bar-value {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.score-bar-value:before {
  content: "";
  background: green;
  animation: expandBar 1s ease;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@keyframes expandBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.score-count {
  float: right;
  height: 20px;
  text-align: right;
  width: 20%;
}

.score-all-link {
  display: block;
  color: #d81e05;
  text-decoration: none;
  text-align: center;
  margin-top: 16px;
  line-height: 20px;
}

.reviewBar,
.gallery {
  width: 90%;
  margin: auto;
}

.gallery {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery h2 {
  margin-right: auto;
  margin-bottom: 1em;
}
.gallery img {
  width: 21em;
  border-radius: 2em;
  margin: 0.5em;
  border: 2px solid black;
  cursor: pointer;
}

#commentBox {
  margin-top: 4rem;
  padding: 2rem;
  border-radius: 40px;
  margin-bottom: -2rem;
}

#commentBox > h2 {
  margin-bottom: 1rem;
}

#commentBox > form {
  position: relative;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}

#commentBox > form > .email {
  font-family: "Varela Round", "sans-serif";
  font-size: 1rem;
  outline: none;
  display: block;
  background-color: #ece9e9;
  border: none;
  resize: none;
  padding: 1em;
  /* border-radius: .7em; */
  margin: 1em 0;
  width: 50%;
}
#commentBox > form > textarea {
  font-family: "Varela Round", "sans-serif";
  font-size: 1rem;
  outline: none;
  display: block;
  padding-top: 0.938rem;
  padding-left: 0.938rem;
  background-color: #ece9e9;
  border: none;
  resize: none;
  width: 65%;
  margin: 1em 0;
}

#post2 {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  /* position: absolute; */
  right: 0;
  bottom: 0;
  border: none;
  outline: none;
  font-family: "Varela Round", "sans-serif";
  font-size: 1rem;
  background-color: #0c84f3;
  color: #ffffff;
  cursor: pointer;
}

.review {
  display: flex;
  background-color: #ececec;
  border-radius: 2em;
  padding: 1em 2em;
  width: fit-content;
  padding-left: 0.7em;
  margin: 1em 0;
}
.review img {
  width: 3em;
  height: 3em;
  margin-right: 0.5em;
}

.rightSide h5 {
  font-size: 1.2em;
}
